.box{
  display: flex;
  margin: 15px;
  height: 100%;
}
.box-left{
  width: 75%;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,.1);
}
.program{
  display: flex;
}
.program-left{
  width: 30%;
  padding: 10px;
  background: red;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.program-inform{
  overflow: hidden;
}
.program-left-top{
  display: flex;
  justify-content: space-between;
}
.program-left-bottom{
  display: grid;
  height: 100%;
  justify-content: center;
  align-content: center;
}
.program-right{
  width: 70%;
  background: skyblue;
}

.box-right{
  width: 25%;
  background: rgb(23, 33, 51);;
}