.paper{
  display: inline-block;
}

.level{
  display: inline-block;
  margin-left: 70px;
  width: 100px;

  .easy{
    color: green;
  }
  .middle{
    color: yellow;
  }
  .hard{
    color: red;
  }
}

.time{
  display: inline-block; 
  margin-left: 70px;
}

.tags{
  display: inline-block;
  margin-left: 70px;
  width: 100px;
}